### 라이브러리 호출

In [1]:
import pandas as pd

### 데이터 호출

In [2]:
# 상위 폴더로 이동 후 data 폴더로 이동
path = '../data/'

In [4]:
# Sales data
sales = pd.read_csv(path + 'Sales data/Sales.csv')

In [5]:
sales.head(2)

,OrderID,OrderDate,Gender,AgeGroup,Channel,ShipDate,ItemCode,MapCode,Quantity,Revenue,Cost
0,100013196,2020-03-20,Female,30s,Online,2020-03-22,D10002,34,46,35576.6,29647.155
1,100061261,2018-06-20,Female,50s,Offline,NaN,D10001,5,69,10222.8,8518.990

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27657 entries, 0 to 27656
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    27657 non-null  int64
 1   OrderDate  27657 non-null  object
 2   Gender     27657 non-null  object
 3   AgeGroup   27657 non-null  object
 4   Channel    27657 non-null  object
 5   ShipDate   19163 non-null  object
 6   ItemCode   27657 non-null  object
 7   MapCode    27657 non-null  int64
 8   Quantity   27657 non-null  int64
 9   Revenue    27657 non-null  float64
 10  Cost       27657 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 2.3+ MB

In [7]:
# Item data
item = pd.read_csv(path + 'Sales data/Item.csv')

In [8]:
item.head(2)

   ItemNo         Category      Item Type
0  A10001  Beauty & Health      Cosmetics
1  A10002  Beauty & Health  Personal Care

In [9]:
# Country data
country = pd.read_csv(path + 'Sales data/Country.csv')

In [10]:
country.head(2)

    Region  Country Code    Country Code2 Code3   Latitude   Longitude
0  Oceania             1  Australia    AU   AUS -35.306944  149.124297
1   Europe             2    Austria    AT   AUT  48.209206   16.372778

### Merge 1. Sales & Item

In [11]:
# sales data 복사
df = sales.copy()

In [12]:
# data rows & columns 확인
df.shape

(27657, 11)

In [ ]:
# pd.merge(left, right,               # merge할 DataFrame 객체 이름
#          how = 'inner',             # inner (default), left, rigth, outer
#          on = None,                # 기준이 되는 Key 변수
#          left_on = None,           # 왼쪽 DataFrame의 변수를 Key로 사용
#          right_on = None,          # 오른쪽 DataFrame의 변수를 Key로 사용
#          left_index = False,       # True이면, 왼쪽 DataFrame의 index를 merge Key로 사용
#          right_index = False,      # True이면, 오른쪽 DataFrame의 index를 merge Key로 사용
#          sort = True,              # merge된 후의 DataFrame을 join Key 기준으로 정렬
#          suffixes = ('_x', '_y'),   # 중복되는 변수 이름에 대해 접두사 부여 (defaults to '_x', '_y')
#          copy = True,              # merge할 DataFrame을 복사
#          indicator = False)        # 결합 후 DataFrame에 출처를 알 수 있는 부가 정보 변수 추가

In [ ]:
# Key: Sales(ItemCode), Item(ItemNo)
# df = df.merge(item, how='left', left_on='ItemCode', right_on='ItemNo')
df = df.merge(item.rename(columns={'ItemNo':'ItemCode'}), on='ItemCode', how='left')

In [ ]:
df.shape

### Merge 2. (Sales & Item) & Country

In [ ]:
# Key: df(MapCode), Country(Country Code)
# df = df.merge(country, how='left', left_on='MapCode', right_on='Country Code')
df = df.merge(country.rename(columns={'Country Code':'MapCode'}), on='MapCode', how='left')

In [ ]:
df.shape

In [ ]:
df.head(3)

### csv 파일로 내보내기

In [ ]:
df.to_csv('Sales data/Data.csv', index=None)

In [16]:
sales.head(3)

,OrderID,OrderDate,Gender,AgeGroup,Channel,ShipDate,ItemCode,MapCode,Quantity,Revenue,Cost
0,100013196,2020-03-20,Female,30s,Online,2020-03-22,D10002,34,46,35576.6,29647.155
1,100061261,2018-06-20,Female,50s,Offline,NaN,D10001,5,69,10222.8,8518.990
2,100071990,2020-06-20,Female,20s,Online,2020-06-22,D10001,3,53,31731.5,26442.930

In [17]:
item.head(3)

   ItemNo         Category      Item Type
0  A10001  Beauty & Health      Cosmetics
1  A10002  Beauty & Health  Personal Care
2  B10001          Clothes        Clothes

In [18]:
country.head(3)

    Region  Country Code    Country Code2 Code3   Latitude   Longitude
0  Oceania             1  Australia    AU   AUS -35.306944  149.124297
1   Europe             2    Austria    AT   AUT  48.209206   16.372778
2   Europe             3    Belgium    BE   BEL  50.503887    4.469936